---
layout: default
title: Fatturazione Elettronica | Web & Apps | Conservazione Digitale
meta: La DDS è un team di professionisti specializzati nella fatturazione elettronica, conservazione digitale, sviluppo di app mobile e siti web

target: flussodigitale.it

priority: 1.0
---
{% include tab.html %}

{% include banner-featured.html%}
{% include services.html %}
{% include slide-services.html %}

<!-- NEWS -->
<section class="news">
  <div class="container news__container">
    <h3 class="news__container__title">Ultime Notizie</h3>
    <div class="row news__container__posts">
      {% for post in site.categories.news limit:3 %}
        <div class="col-md-12 col-lg-4 news__container__posts__post">
          <a href="{{site.baseurl}}{{post.url}}">
            <h2 class="news__container__posts__post__title">
              {{ post.title }}
            </h2>
            <p class="news__container__posts__post__date">Pubblicato il giorno: {{post.date | date: "%d/%m/%Y"}} </p>
            <p class="news__container__posts__post__author">da: {{post.author}} </p>

            <div class="news__container__posts__post__media">
              <img src="{{post.image}}" alt="{{post.altImg}}" />
            </div>

            <div class="news__container__posts__post__copy">
                <p>{{post.meta}}</p>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% include slide-projects.html %}
{% include form-home.html %}
