<!-- BANNER IN EVIDENZA -->
<section id="motivation" class="motivation">
    <div class="motivation__container container">
      <div class="row">
        <div class="col motivation__container__copy">
          <h1>Bando Voucher Digitalizzazione PMI</h1>
          <h3>
            Per ammodernare l’infrastruttura informatica della tua azienda spendendo la metà!
          </h3>
          <a href="{{site.baseurl}}/contatti.html" class="button">contattaci ora</a>
        </div>
  
        <div class="col motivation__container__media">
          <img src="assets/img/repubblica-italiana-tecnologica.png" alt="Bando Voucher Digitalizzazione PMI" />
        </div>
      </div>
    </div>
  </section>