<div id="animation"></div>
<div class="container">
  <div class="col-m6">
    <div class="big-logo">
        {% include logo.svg %}        
    </div>
    <!-- <p>Per <span class="evidenzia">promuovere</span> e <span class="evidenzia">gestire</span> la tua attività digitalmente</p> -->
    <!-- <a class="button" href="#link-tab-content">ESPLORA</a> -->
    <div class="sliding-text">
      <div id="slide-1" class="slide">
        <h3>Strategie, design, Sviluppo</h3>
        <h2>web & apps</h2>
      </div>
      <div id="slide-2" class="slide">
          <h3>Firma digitale, fatturazione elettronica</h3>
          <h2>trasmissione telematica</h2>
      </div>
      <div id="slide-3" class="slide">
          <h3>Conservazione sostitutiva, hardware, software</h3>
          <h2>gestione documentale</h2>
      </div>
    </div>
  </div>
</div>
