<!-- BANNER IN EVIDENZA -->
<section id="motivation" class="motivation">
    <div class="motivation__container container">
      <div class="row">
        <div class="col motivation__container__copy">
          <h1>Bando Voucher Digitalizzazione PMI</h1>
          <h3>
            Per ammodernare l’infrastruttura informatica della tua azienda e spendere la metà!
          </h3>
          <a href="#" class="button">contattaci ora</a>
        </div>
  
        <div class="col motivation__container__media">
          <img src="assets/img/success.svg" alt="New idea Icon" />
        </div>
      </div>
    </div>
  </section>