<!-- BANNER IN EVIDENZA -->
<section id="motivation" class="motivation">
    <div class="motivation__container container">
      <div class="row">
        <div class="col motivation__container__copy">
          <h1>Offerta Privacy GDPR</h1>
          <h3>
            La privacy... senza preoccupazioni!
          </h3>
          <a href="{{site.baseurl}}/news/invia-ricevi-fatture-elettroniche-tra-privati/" class="button">Vai alla nostra offerta</a>
        </div>
  
        <div class="col motivation__container__media">
          <img src="assets/img/news/gdpr/privacy-2018.png" alt="GDPR 2018" />
        </div>
      </div>
    </div>
  </section>