<!-- FORM -->
<section class="contact">
    <h4>In che modo possiamo aiutarti?</h4>
    <form action="#">
        <input type="text" id="input-1" placeholder="Mario Rossi" required />
        <label for="input-1">
        <span class="label-text">Ciao! Come ti chiami?</span>
        <span class="nav-dot"></span>
        <span class="contact__start--trigger">Non esitare, contattaci ora</span>
        </label>
        
        <input id="input-2" type="text" placeholder="es. consulenza informatica, proposta progettuale..." required />
        <label for="input-2">
        <span class="label-text">Cosa possiamo fare per te?</span>
        <span class="nav-dot"></span>
        </label>

        <input id="input-3" type="email" placeholder="email@indirizzo.com" required />
        <label for="input-3">
        <span class="label-text">Su quale email possiamo ricontattarti?</span>
        <span class="nav-dot"></span>
        </label>

        <input id="input-4" type="number" placeholder="338 120 6977" required />
        <label for="input-4">
        <span class="label-text">Puoi lasciarci un recapito telefonico?</span>
        <span class="nav-dot"></span>
        </label>
        <button type="submit">INVIA</button>
        <p class="contact__tip">Per andare avanti premi il tasto Tab</p>
        <div class="contact__start">Non esitare, contattaci ora</div>
    </form>
</section>
