  <!-- SERVICES -->
  <section class="services">
    <h3 id="servizi-bg-title" class="bg-title">SERVIZI</h3>

    <h4>I nostri servizi</h4>

    <div class="services__container container">
      <!--Per professionisti ed imprese (trasmissione e fatturazione)-->
      <div class="row trasmissione normal">
        <div class="col services__media">
          <img src="assets/img/services/professionisti-e-imprese-2.jpg" alt="Professionisti e imprese">
        </div>

        <div class="col services__copy">
          <h2 class="services__copy__title">Per Professionisti ed imprese</h2>

          <ul class="services__copy__items">
            <li class="services__copy__items__item">Trasmissione Atti Giuridici</li>
            <li class="services__copy__items__item">Fatturazione PA</li>
          </ul>
        </div>
      </div>

      <!--Per Visibilità e Growbusiness (Comunicazione e Design)-->
      <div class="row comunicazione inverse">
        <div class="col services__copy absolute-left">
          <h2 class="services__copy__title">Visibilità e Growbusiness</h2>

          <ul class="services__copy__items">
            <li class="services__copy__items__item">Webdesign & Digital innovation</li>
            <li class="services__copy__items__item">SEO/SEM Strategy</li>
            <li class="services__copy__items__item">Social Media Marketing</li>
            <li class="services__copy__items__item">Sviluppo App e piattaforme Web</li>
          </ul>
        </div>
        <div class="col services__media">
          <img src="assets/img/services/visibilita-e-growbusiness-2.jpg" alt="Professionisti e imprese">
        </div>
      </div>

      <!-- Per il tuo Backoffice (Gestione e Conservazione)-->
      <div class="row conservazione normal">
        <div class="col services__media">
          <img src="assets/img/services/backoffice-2.jpg" alt="Professionisti e imprese">
        </div>

        <div class="col services__copy">
          <h2 class="services__copy__title">Ottimizzazione del Backoffice</h2>

          <ul class="services__copy__items">
            <li class="services__copy__items__item">Conservazione sostitutiva</li>
            <li class="services__copy__items__item">HW e SW per Uffici</li>
            <li class="services__copy__items__item">Archiviazione e GED</li>
            <li class="services__copy__items__item">Firma Digitale</li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="services__cta">
          <a class="button" href="{{site.baseurl}}/servizi/">Scopri come superare la concorrenza e far crescere il tuo business</a>
        </div>
      </div>
    </div>
  </section>
