<!-- PROJECTS -->
<section class="projects">
    <h4>
        <a href="#">I nostri progetti</a>
    </h4>

    <div class="projects__container clearfix">
        <div class="projects__thumb">
            <a href="#" style="background-image:url({{site.baseurl}}/assets/img/portfolio/main-cusapp.jpg)">
                <div class="projects__thumb__copy">
                    <h5 class="projects__thumb__copy__title">CUS Cassino</h5>
                    <p>Progettazione <b class="evidenzia">dell'app mobile</b> per il Centro Universitario Sportivo di Cassino</p>
                    <span class="badge-progress">IN PROGRESS</span>
                </div>       
            </a>
        </div>

        <div class="projects__thumb">
            <a href="#" style="background-image:url({{site.baseurl}}/assets/img/portfolio/main-ebt.jpg)">
                <div class="projects__thumb__copy">
                    <h5 class="projects__thumb__copy__title">EBT Finals</h5>
                    <p>Realizzazione del sito web ufficiale per il campionato europeo di palla a mano su spiaggia tenutosi a Gaeta(LT) nel mese di Maggio 2017.</p>
                    <span class="badge-date">8/04/2017</span>
                </div>
            </a>
        </div>

        <div class="projects__thumb">
            <a href="#" style="background-image:url({{site.baseurl}}/assets/img/portfolio/main-mcstore.jpg)">
                <div class="projects__thumb__copy">
                    <h5 class="projects__thumb__copy__title">Montecassino Abbey Store</h5>
                    <p class="projects__thumb__copy__meta">Creazione del <b class="evidenzia">portale per il commercio elettronico</b> dell'Abbazia di Montecassino</p>
                    <p class="projects__thumb__copy__meta">Produzione di ebook originali</p>
                    <p class="projects__thumb__copy__meta">Progettazione dell'MC Media Reader, <b class="evidenzia">web app personalizzata</b> per la lettura di anteprime in formato .epub</p>
                    <span class="badge-date">12/2/2017</span>
                </div>
            </a>
        </div>

        <div class="projects__thumb">
            <a href="#" style="background-image:url({{site.baseurl}}/assets/img/portfolio/main-montecassino.jpg)">
                <div class="projects__thumb__copy">
                    <h5 class="projects__thumb__copy__title">Abbazia di Montecassino</h5>
                    <p class="projects__thumb__copy__meta">Realizzazione del <b class="evidenzia">sito web ufficiale</b> di uno dei monasteri più noti in tutto il mondo ed il più antico d'Italia</p>
                    <span class="badge-date">12/2/2017</span>
                </div>
            </a>
        </div>
    </div>
</section>