<section class="scroller">
    <div class="container scroller__container">
        <div class="swiper-container-services">
            <div class="swiper-wrapper">
                <div class="swiper-slide">Firma Digitale</div>
                <div class="swiper-slide">Posta Elettronica Certificata</div>
                <div class="swiper-slide">Fornitura Hardware e Software</div>
                <div class="swiper-slide">Rivendita PC e Notebook</div>
                <div class="swiper-slide">Help Desk</div>
                <div class="swiper-slide">Supporto per manutenzioni ed aggiornamenti</div>
                <div class="swiper-slide">Formazione programmata o on-the-job</div>
                <div class="swiper-slide">Easy Telematico</div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
