<div class="col-md-3 info__container__wrapper__sidebar">
    <section class="info__container__wrapper__sidebar__staff">
        <h3>SENIOR STAFF</h3>
        <ul>
            <li>    
                <h4>Antonio Basso</h4>
                <h5>General Manager</h5>
            </li>
            <li>
                <h4>Valentino Valente</h4>
                <h5>ICT Manager</h5>
            </li>
            <li>
                <h4>Giulio Tiseo</h4>
                <h5>Multimedia Designer</h5>
            </li>
        </ul>
    </section>
</div>