  <!-- TAB -->
  <section class="tab row no-gutters">
    <a id="link-tab-content" href="#"></a>
    <div class="tab-label-container">
      <!-- => TAB: Comunicazione e Design <= -->
      <div class="col-sm-12 col-md-4">
        <input type="radio" name="title-tab" id="tab-2" checked />
        <label id="tab-2" for="tab-2"><img src="assets/img/design-ico.svg" alt="icona"><span>Comunicazione e Design</span></label>
      </div>

      <!-- => TAB: Trasmissione e fatturazione <= -->
      <div class="col-sm-12 col-md-4">
        <input type="radio" name="title-tab" id="tab-1" />
        <label href="show-tab-content" id="tab-1" for="tab-1"><img src="assets/img/fatturazione-ico.svg" alt="icona"><span>Trasmissione e Fatturazione</span></label>
      </div>

      <!-- => TAB: Gestione e Conservazione <= -->
      <div class="col-sm-12 col-md-4">
        <input type="radio" name="title-tab" id="tab-3" />
        <label id="tab-3" for="tab-3"><img src="assets/img/conservazione-ico.svg" alt="icona"><span>Gestione e Conservazione</span></label>
      </div>

    </div>

    <div id="tab-content-container" class="tab__container container">

      <div class="tab__content" id="content-tab-2">
        <h2>Comunicazione e Design</h2>
        <div class="row">
          <div class="tab__content__media col-sm-12 col-md-6">
            <img src="assets/img/design-ico.svg" alt="" class="tab__content__media__img"/>
          </div>

          <article class="tab__content__copy col-sm-12 col-md-6">
            <p class="tab__content__copy__text">
              <b>Comunicazione e Design. </b>  E' persino ovvio che l'orientamento al WEB è una necessità ed a volte anche l'unica strada per accrescere contatti, offrire servizi e prodotti, farsi conoscere. Esserci era l'esigenza di un passato non molto lontano oggi è necessario distinguersi  ed essere trovati. Offriamo una vasta gamma di servizi che vanno dalla creazione di una comunicazione adeguata, alla realizzazione di siti e APP Mobile, alla gestione del posizionamento nei motori di ricerca, all'attività di social media marketing ed alla ottimizzazione delle campagne pay per click.  
              
            </p>
            <a href="{{site.baseurl}}/servizi/visibilita-growbusiness/" class="button">La nostra offerta</a>
          </article>
        </div> <!-- fine row -->
      </div>

      <div class="tab__content" id="content-tab-3">
        <h2>Gestione e conservazione </h2>
        <div class="row">
          <div class="tab__content__media col-sm-12 col-md-6">
            <img src="assets/img/conservazione-ico.svg" alt="" class="tab__content__media__img"/>
          </div>

          <article class="tab__content__copy col-sm-12 col-md-6">
            <p class="tab__content__copy__text">
               A molti non è noto che le PEC e le fatture elettroniche necessitano di un sistema di archiviazione digitale conforme alla normativa affinchè le stesse abbiano finalità probatorie e si possano considerare assolti gli obblighi fiscali. Di fatto, quindi, oggi convivono due sistemi di archiviazione e gestione documentale. <b>Il Primo analogico </b>basato su documenti cartacei è: dispendioso, costoso ed inefficiente. <b>Il secondo</b> quello digitale è: economico, efficiente e sicuro. I documenti digitali non possono essere trasformati in analogici pena la perdita della loro validità giuridica. Ne consegue che per armonizzare gli archivi documentali bisogna per forza convertire tutta la documentazione in formato elettronico. In termini di efficienza i due sistemi non sono nemmeno paragonabili.
            </p>
            <a href="{{site.baseurl}}/servizi/ottimizzazione-backoffice/" class="button">approfondisci</a>
          </article>
        </div> <!-- fine row -->
      </div>


    <div class="tab__content" id="content-tab-1">
        <h2>Trasmissione e Fatturazione</h2>

        <div class="row">
          <div class="tab__content__media col-sm-12 col-md-6">
            <img src="assets/img/fatturazione-ico.svg" alt="" class="tab__content__media__img"/>
          </div>

          <article class="tab__content__copy col-sm-12 col-md-6">
            <p class="tab__content__copy__text">
              <b>Trasmissione e Fatturazione </b>  La legislazione italiana impone la trasmissione di atti giuridici in modalità telematica e la fatturazione elettronica verso la pubblica amministrazione. I soggetti coinvolti, inizialmente riluttanti, hanno poi apprezzato il nuovo modo di lavorare e gli evidenti risparmi associati. La normativa ha già di fatto esteso l'obbligo della fatturazione elettronica anche ai privati ed è naturale a questo punto cominciare a pensare anche alla gestione degli archivi elettronici non solo delle fatture ma di tutta la documentazione.  
            </p>
          </p>
            <a href="{{site.baseurl}}/servizi/professionisti-ed-imprese/" class="button">approfondisci</a>
          </article>
        </div> <!-- fine row -->
      </div><!-- fine tab content -->

    </div><!-- fine tab content container -->
  </section>
