  <!-- TAB -->
  <section class="tab row no-gutters">
    <a id="link-tab-content" href="#"></a>
    <div class="tab-label-container">
      <!-- => TAB: Comunicazione e Design <= -->
      <div class="col-sm-12 col-md-4">
        <input type="radio" name="title-tab" id="tab-2" checked />
        <label id="tab-2" for="tab-2"><img src="assets/img/design-ico.svg" alt="icona"><span>Comunicazione e Design</span></label>
      </div>

      <!-- => TAB: Trasmissione e fatturazione <= -->
      <div class="col-sm-12 col-md-4">
        <input type="radio" name="title-tab" id="tab-1" />
        <label href="show-tab-content" id="tab-1" for="tab-1"><img src="assets/img/fatturazione-ico.svg" alt="icona"><span>Trasmissione e Fatturazione</span></label>
      </div>

      <!-- => TAB: Gestione e Conservazione <= -->
      <div class="col-sm-12 col-md-4">
        <input type="radio" name="title-tab" id="tab-3" />
        <label id="tab-3" for="tab-3"><img src="assets/img/conservazione-ico.svg" alt="icona"><span>Gestione e Conservazione</span></label>
      </div>

    </div>

    <div id="tab-content-container" class="tab__container container">

      <div class="tab__content" id="content-tab-2">
        <h2>Lorem ipsum</h2>
        <div class="row">
          <div class="tab__content__media col-sm-12 col-md-6">
            <img src="assets/img/design-ico.svg" alt="" class="tab__content__media__img"/>
          </div>

          <article class="tab__content__copy col-sm-12 col-md-6">
            <p class="tab__content__copy__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dolor ut neque mollis aliquam sit amet non justo. Sed ac dictum leo, eu molestie ligula. Vestibulum at semper ipsum, nec tincidunt eros. Suspendisse accumsan quam neque. Nullam consectetur eleifend erat. Morbi et justo ut felis vulputate suscipit. Nunc id aliquet augue. 
            </p>
            <a href="{{site.baseurl}}/servizi/visibilita-growbusiness/" class="button">approfondisci</a>
          </article>
        </div> <!-- fine row -->
      </div>

      <div class="tab__content" id="content-tab-3">
        <h2>Efficienza e crescita </h2>
        <div class="row">
          <div class="tab__content__media col-sm-12 col-md-6">
            <img src="assets/img/conservazione-ico.svg" alt="" class="tab__content__media__img"/>
          </div>

          <article class="tab__content__copy col-sm-12 col-md-6">
            <p class="tab__content__copy__text">
                Le aziende leader nella trasformazione digitale stanno accelerando l'adozione di una strategia di business digitale integrata in risposta alla ridefinizione dei mercati da parte dei clienti.
            </p>
            <a href="{{site.baseurl}}/servizi/ottimizzazione-backoffice/" class="button">approfondisci</a>
          </article>
        </div> <!-- fine row -->
      </div>


    <div class="tab__content" id="content-tab-1">
        <h2>Digital Trasformation</h2>

        <div class="row">
          <div class="tab__content__media col-sm-12 col-md-6">
            <img src="assets/img/fatturazione-ico.svg" alt="" class="tab__content__media__img"/>
          </div>

          <article class="tab__content__copy col-sm-12 col-md-6">
            <p class="tab__content__copy__text">
              <b>La trasformazione digitale </b>  è un processo in atto inarrestabile perché è voluto dalla normativa italiana che sprona imprese ed enti a incrementare la competitività del Paese ed è esso stesso  motore di sviluppo. L'innovazione richiede competenze tecnico-giuridiche non sempre facilmente reperibili frutto di conoscenza specialistica e costante aggiornamento. 
              Abbiamo selezionato quanto di meglio offre il mercato e siglato rapporti di partnership per consentire a tutti l’accesso alle nuove tecnologie offrendo un rapporto diretto, consulenza, progettazione, forniture ed assistenza on site.
            </p>
          </p>
            <a href="{{site.baseurl}}/servizi/professionisti-ed-imprese/" class="button">approfondisci</a>
          </article>
        </div> <!-- fine row -->
      </div><!-- fine tab content -->

    </div><!-- fine tab content container -->
  </section>
