---
layout: page
title: Trasmissione e Fatturazione
meta: Trasmissione telematica atti giuridici nel processo civile telematico. Fatturazione elettronica in trasmissione e ricezione

description: Gestione di tutti gli adempimenti telematici del tuo studio
type: area-tematica
detail: professionisti-ed-imprese
target: Per Professionisti ed imprese

order: 2

area1: Trasmissione atti giuridici
area1-img-left: /assets/icons/servizi/icon-trasmissione-atti-telematici.svg
area1-description-left: Abbiamo selezionato software intuitivi e completi per agevolare la produzione e l'invio telematico degli atti. Forniamo anche sistemi più evoluti che consentono la gestione completa di piccoli e grandi studi. 

area1-img-right: /assets/icons/servizi/icon-cloud-atti-telematici.svg
area1-description-right: Easy telematico consente l'invio di atti giuridici firmati digitalmente attraverso una intuitiva interfaccia grafica molto simile a easy nota il software più utilizzato dagli avvocati. L'invio guidato dell'atto è estremamente facile completamente automatizzato e facoltativamente ci si può avvalere di un pratico redattore integrato. EasyLex invece è un software completo per la gestione dello studio e include tutte le funzionalità; agenda condivisa, scadenziario, parcellazione, pct etc. Rivendiamo, assistiamo e facciamo assistenza agli studi nostri clienti come partner rivenditori della Teamsystem.


area2: Fatturazione elettronica integrata nel sistema di conservazione
area2-img-left: /assets/icons/servizi/icon-fatturazione-pec.svg
area2-description-left: La fatturazione elettronica verso la pubblica amministrazione è un obbligo normativo. Dal momento che le pubbliche amministrazioni non accettano più fatture cartacee tutti coloro che ne hanno avuto necessità si sono dovuti attrezzare. Purtroppo come sempre accade con le novità, pochi sono a conoscenza dell’obbligo di conservazione digitale e molti si sono limitati solo a trasmettere le fatture anche per pec nel formato xml richiesto. 
Un sistema di fatturazione elettronica efficiente è un piccolo modulo di un sistema più grande che permette la conservazione digitale a norma. Ribadiamo che le fatture elettroniche stampate non hanno valore giuridico e devono avere un registro separato


area2-img-right: /assets/icons/servizi/icon-fatturazione-elettronica.svg
area2-description-right: Un sistema di conservazione digitale efficiente deve permettere l’archiviazione digitale anche delle PEC e di tutta la documentazione. 
Il massimo lo otteniamo se il sistema di conservazione è parte integrante di un sistema di archiviazione e gestione documentale con ricerca fulltext, profilazione degli utenti e assegnazione di permessi specifici, integrato con sistema di cattura dei dati e documenti dai gestionali, motori di workflow per la gestione di flussi e procedimenti.
Beh questa è la nostra offerta (c’è anche di più) acquistabile in moduli e personalizzabile per adattarsi alle vostre esigenze.

---

<!-- ============================================================= -->
<!-- CONTENT                                                       -->
<!-- ============================================================= -->
<section class="content">
    <h2>{{page.area2}}</h2>
    <div class="container content__container">
        <div class="row">
        <div class="col-sm-12 col-md-6">
            <img class="content__container__img" src="{{site.baseurl}}/{{page.area2-img-left}}" alt="INSERISCI ALT">
            <p class="content__container__text">
            {{page.area2-description-left}}
            </p>
        </div>

        <div class="col-sm-12 col-md-6">
            <img class="content__container__img" src="{{site.baseurl}}/{{page.area2-img-right}}" alt="INSERISCI ALT">
            <p class="content__container__text">
            {{page.area2-description-right}}
            </p>
        </div>
        </div>
    </div>
</section>

<!-- RIQUADRO DELL'OFFERTA -->
<section class="offerta">
    <div class="container offerta__container">
        <h3>La nostra offerta</h3>
        <div class="row offerta__container__items">
        {% include service-list.html type='fatturazione' %}
        </div>
    </div>
</section>

<!-- ============================================================= -->
<!-- CONTENT                                                       -->
<!-- ============================================================= -->
<section class="content">
    <h2>{{page.area1}}</h2>
    <div class="container content__container">
        <div class="row">
        <div class="col-sm-12 col-md-6">
            <img class="content__container__img" src="{{site.baseurl}}/{{page.area1-img-left}}" alt="INSERISCI ALT">
            <p class="content__container__text">
            {{page.area1-description-left}}
            </p>
        </div>

        <div class="col-sm-12 col-md-6">
            <img class="content__container__img" src="{{site.baseurl}}/{{page.area1-img-right}}" alt="INSERISCI ALT">
            <p class="content__container__text">
            {{page.area1-description-right}}
            </p>
        </div>
        </div>
    </div>
</section>

<!-- RIQUADRO DELL'OFFERTA -->
  <section class="offerta">
    <div class="container offerta__container">
      <h3>La nostra offerta</h3>
      <div class="row offerta__container__items">
        {% include service-list.html type='trasmissione' %}
      </div>
    </div>
  </section>