---
layout: banner
---

<!-- ============================================================= -->
<!-- STATIC BANNER                                                 -->
<!-- ============================================================= -->
<section id="motivation" class="motivation">
  <div class="motivation__container container">
    <div class="row">
      <div class="col motivation__container__copy">
        <h3>
          Investire in un servizio innovativo o in un progetto di qualità, è il primo passo per costruire qualcosa di grande
        </h3>
        <a href="#" class="button">inizia ora</a>
      </div>

      <div class="col motivation__container__media">
        <img src="assets/img/success.svg" alt="New idea Icon" />
      </div>
    </div>

  </div>
</section>