<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "it" }}">

  {% include head.html %}

  <body>
    {% include header-page.html headclass="top top-article post" %}
 
    <article class="article">
      <div class="container article__container">
        {{ content }}
      </div>

      <div class="go-to-container row">
        <div class="go-to"><a href="{{site.baseurl}}/blog.html">Torna al Blog</a></div>
        <div class="go-to"><a href="{{site.baseurl}}/">Torna alla Home</a></div>
      </div>
    </article>

    {% include footer.html %}
  </body>

</html>
